<!-- <nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <ul class="navbar-nav"> -->
  <nav class="navbar navbar-expand-sm">
  <a class="navbar-brand" href="#">
          <img src="./assets/image/pic13.png" height="100px">
        </a>
                    <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
                  
 <a routerLink="products" class="nav-link" routerLinkActive="active">Products</a>

      <a routerLink="users" class="nav-link" routerLinkActive="active">Sign Up</a>
      <a routerLink="login" class="nav-link" routerLinkActive="active">Sign In</a>
    </nav>      
<!-- 
</ul>
  
</nav> -->
<div class="container">
  
      <router-outlet></router-outlet>
  
  
</div>
